<ion-header>
  <ion-navbar>
    <ion-title>
      Ear Training
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="goToGame()">Go to Game</button>

  <button ion-item (click)="playNote(note)" *ngFor="let note of notes">
  <ion-list>
    <ion-item>
      <h2>{{note.noun}} | Tone: {{note.tone}}</h2>
    </ion-item>
  </ion-list> 
</button>
</ion-content>
