<ion-header>

  <ion-navbar>
    <ion-title>Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h3>Do is played with another note</h3>
    <button ion-button (click)="startGameDuo(do_note, notes)">Play Duo</button>
    <button ion-button (click)="startGameSep()">Play Separated</button>

    <h3>Guess the other note</h3>
    <!-- Tone diff list -->
    <ion-list>
      <button ion-item (click)="checkToneDiff(tone_diff_ans)" *ngFor="let tone_diff_ans of tone_diff_array">
        Note: {{tone_diff_ans.noun}} | Tone: {{tone_diff_ans.tone}} | Interval: {{tone_diff_ans.interval}}
      </button>
    </ion-list>

</ion-content>

